<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <title>Menu farmacêutico</title>
  </head>
  <body>
    <div class="divHeader">
      <header class="header">
        <span class="manHeader">MANUAL FARMACÊUTICO</span>
        <img
          class="imgHeader"
          src="../../assets/saoSebastiao.png"
          alt="saoSebastiao"
        />
      </header>
    </div>

    <nav class="spanHeader">
      <a class="aNav" href="../../home.html">Manual Farmacêutico</a>
      <a class="aNav" href="../../institucional.html">Instituicional</a>
    </nav>

  <span class="backForward">
      <a class="backForward" href="../../home.html">
        <img
          class="arrowBackForward"
          src="data:image/svg+xml;base64,
          PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVs
          ZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3Vu
          ZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIiIHZpZXdCb3g9
          IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMu
          b3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTMuMDIyIDE0
          Ljk5OXYzLjI1MWMwIC40MTIuMzM1Ljc1Ljc1Mi43NS4x
          ODggMCAuMzc1LS4wNzEuNTE4LS4yMDYgMS43NzUtMS42
          ODUgNC45NDUtNC42OTIgNi4zOTYtNi4wNjkuMi0uMTg5
          LjMxMi0uNDUyLjMxMi0uNzI1IDAtLjI3NC0uMTEyLS41
          MzYtLjMxMi0uNzI1LTEuNDUxLTEuMzc3LTQuNjIxLTQu
          Mzg1LTYuMzk2LTYuMDY4LS4xNDMtLjEzNi0uMzMtLjIw
          Ny0uNTE4LS4yMDctLjQxNyAwLS43NTIuMzM3LS43NTIu
          NzV2My4yNTFoLTkuMDJjLS41MzEgMC0xLjAwMi40Ny0x
          LjAwMiAxdjMuOTk4YzAgLjUzLjQ3MSAxIDEuMDAyIDF6
          bTEuNS00LjQ5OHYtMy4wMDhsNC43NTEgNC41MDctNC43
          NTEgNC41MDd2LTMuMDA4aC0xMC4wMjJ2LTIuOTk4eiIg
          ZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+"
          alt="imagem de uma seta apontando para o lado direito"
        />
      
      RETORNAR
      </a>
    </span>

    <div class="divAside">
      <aside class="aside">
        <ul class="asid">
          <br />
          <a id="toggle" class="aAside" href="#">Apresentação do manual</a>
          <br />
        </ul>
      </aside>
    </div>

    <div class="divAside">
      <aside class="aside"></aside>
    </div>

    <div id="divSection">
      <section class="section">
        <div class="titleManual">APRESENTAÇÃO DO MANUAL FARMACÊUTICO</div>
        <br class="body">
          &emsp; &emsp; O Manual Farmacêutico eletrônico do Hospital São
          Sebastião (HSS) foi desenvolvido como uma ferramenta de consulta
          rápida para a equipe multiprofissional, visando disseminar informações
          e orientações corretas e seguras sobre o uso de medicamentos
          padronizados na instituição, porém afirmamos que as necessidades
          clínicas dos pacientes devem ser avaliadas individualmente. 
          
          <br><br>&emsp; &emsp;O manual
          é fruto do trabalho contínuo do time da Comissão de Farmácia e
          Terapêutica (CFT), farmacêuticas e Auxiliares de farmácia em parceria
          do desenvolvimento com a equipe de Tecnologia da Informação (T.I.) da
          instituição. 

          <br><br>&emsp; &emsp; Este manual disponibiliza a relação de Curativos
          especiais, dietas industrializadas, Material Médico Hospitalar (MMH) e
          medicamentos contendo informações sobre princípio ativo, classe e
          subclasse terapêutica, indicação, contraindicação, dose MÍNIMA e
          MÁXIMA usual em adulto, interações medicamentosas, intervenções
          farmacêuticas, Incompatibilidades de vias em Y, ajuste posológico de
          Antibióticos para paciente Renal, Vias de administração, guia para
          diluição de medicamentos injetáveis (reconstituição e diluição),
          orientações para administração, conservação e estabilidade, cuidados
          específicos e monitoramentos, Soluções Padronizadas de Medicamentos,
          Regulamentação para frascos e multidoses, alergias, antídotos,
          Medicamentos com Sinalização de riscos, Medicamentos Com Sons e
          Grafias semelhantes, regimento interno de Farmácia, Manual de Boas
          Práticas Farmacêutica, Manual de Antibioticoterapia,
          Regimento/Portaria da CFT e Procedimentos Operacionais Padrão (POPs). 
          
          <br><br>&emsp; &emsp; Estão também disponíveis no manual farmacêutico, as normas para
          prescrição de medicamentos não padronizados, procedimento para
          inclusão de medicamentos na padronização, orientações para prescrição
          de medicamentos sujeitos a controle especial e antimicrobiano de
          acordo com suas normas e procedimentos atrelados ao uso de
          medicamentos e informações de apoio à equipe multiprofissional. 
          
          <br><br>&emsp; &emsp; Todas
          as revisões, atualizações e alterações necessárias na padronização de
          Curativos Especializados, Dietas industrializadas, MMH e
          Medicamentos, serão apresenta-dos e discutidos pela (CFT) considerando
          os aspectos de efetividade, segurança terapêutica, farmacocinética,
          farmacotécnica e farmacoeconomia, analisando as relações
          custo-utilidade, custo-benefício e custo-efetividade, além de
          avaliarem as alternativas terapêuticas disponíveis na instituição.
          Bem como suas referências bibliográficas, evidenciando a origem dos
          dados fornecidos e possibilitando a busca por informações
          complementares. 
          
          <br><br>&emsp; &emsp; Como forma de colaboração significativa das metas
          internacionais de segurança de paciente que visa melhorar a segurança
          na prescrição, no uso e administração de todos os medicamentos na
          instituição, objetiva-se que o manual se torne uma ferramenta de
          consulta diária para todos os médicos e demais profissionais da saúde.

          <br><br>&emsp; &emsp; Agradecemos àqueles que tornaram possível a publicação do Manual
          Farmacêutico e dedicamos à equipe multiprofissional do HSS por seu
          esforço contínuo pela excelência em assistência à saúde. Comissão de
          Farmácia e Terapêutica.
        </div>


      </section>
    </div>

    
  </body>

  <script src="index.js"></script>
</html>
