<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <title>Menu farmacêutico</title>
  </head>
  <body>
    <div class="divHeader">
      <header class="header">
        <span class="manHeader">MANUAL FARMACÊUTICO</span>
        <img
          class="imgHeader"
          src="../../assets/saoSebastiao.png"
          alt="saoSebastiao"
        />
      </header>
    </div>

    <nav class="spanHeader">
      <a class="aNav" href="../../home.html">Manual Farmacêutico</a>
      <a class="aNav" href="../../Institucional.html">Institucional</a>
    </nav>

    <span class="backForward">
      <a class="backForward" href="../../home.html">
        <img
          class="arrowBackForward"
          src="data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTMuMDIyIDE0Ljk5OXYzLjI1MWMwIC40MTIuMzM1Ljc1Ljc1Mi43NS4xODggMCAuMzc1LS4wNzEuNTE4LS4yMDYgMS43NzUtMS42ODUgNC45NDUtNC42OTIgNi4zOTYtNi4wNjkuMi0uMTg5LjMxMi0uNDUyLjMxMi0uNzI1IDAtLjI3NC0uMTEyLS41MzYtLjMxMi0uNzI1LTEuNDUxLTEuMzc3LTQuNjIxLTQuMzg1LTYuMzk2LTYuMDY4LS4xNDMtLjEzNi0uMzMtLjIwNy0uNTE4LS4yMDctLjQxNyAwLS43NTIuMzM3LS43NTIuNzV2My4yNTFoLTkuMDJjLS41MzEgMC0xLjAwMi40Ny0xLjAwMiAxdjMuOTk4YzAgLjUzLjQ3MSAxIDEuMDAyIDF6bTEuNS00LjQ5OHYtMy4wMDhsNC43NTEgNC41MDctNC43NTEgNC41MDd2LTMuMDA4aC0xMC4wMjJ2LTIuOTk4eiIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+"
          alt="imagem de uma seta apontando para o lado direito"
        />
        RETORNAR
      </a>
    </span>

    <div class="divAside2">
      <aside class="aside">
        <ul class="asid">
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/1 - sinalizaçãoDeMedicamentosAntibióticos.html"
            >Sinalização de Medicamentos Antibióticos</a
          >
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/2 - sinalizaçãoDeMedicamentosAntiFungicos.html"
            >Sinalização de Medicamentos AntiFungicos</a
          >
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/3 - sinalizaçãoDeMedicamentosAntiviral.html"
            >Sinalização de Medicamentos Antiviral</a
          >
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/4 - sinalizaçãoDeMedicamentosAssociadosARiscoDeQueda.html"
            >Sinalização de Medicamentos Associados A Risco De Queda</a
          >
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/5 - sinalizaçãoDeMedicamentosControlado.html"
            >Sinalização de Medicamentos Controlado</a
          >
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/6 - sinalizaçãoDeMedicamentosFotossensivel.html"
            >Sinalização de Medicamentos Fotossensivel</a
          >
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/7 - sinalizaçãoDeMedicamentosTermolábil.html"
            >Sinalização de Medicamentos Termolábil</a
          >
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/8 - sinalizaçãoDeMedicamentosPotencialmentePerigosos.html"
            >Sinalização de Medicamentos Potencialmente Perigosos</a
          >
          <br />
          <a
            id="toggle"
            class="aAside"
            href="../manualFarmaceutico/sinalizaçãoPorRiscos/9 - sinalizaçãoDeMedicamentosAssociadoDeRiscoDeFlebite.html"
            >Sinalização de Medicamentos Associado de risco de flebit</a
          >
        </ul>
      </aside>
    </div>
  </body>
  <script src="index.js"></script>
</html>
