<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../style.css" />
    <title>Menu farmacêutico</title>
  </head>
  <body>
    <div class="divHeader">
      <header class="header">
        <span class="manHeader">MANUAL FARMACÊUTICO</span>
        <img
          class="imgHeader"
          src="../../../assets/saoSebastiao.png"
          alt="saoSebastiao"
        />
      </header>
    </div>

    <nav class="spanHeader">
      <a class="aNav" href="../../../home.html">Manual Farmacêutico</a>
      <a class="aNav" href="../../../institucional.html">Instituicional</a>
    </nav>

    <span class="backForward">
      <a class="backForward" href="../tabelas.html">
        <img
          class="arrowBackForward"
          src="../../../assets/right-arrow-arrows-svgrepo-com.svg"
          alt="imagem de uma seta apontando para o lado direito"
        />      RETORNAR
      </a>
    </span>

    <div class="divAside">
      <aside class="aside"></aside>
    </div>

    <div id="divSection">
      <section class="section">
        <img src="../../../assets/saoSebastiao.png" alt="" />
      </section>
    </div>

    
  </body>

  <script src="../index.js"></script>
</html>
